@import url("../../index.css");
@font-face {
  font-family: Orbitron;
  src: url("./Orbitron-Regular.27ed04af.ttf");
}
@font-face {
  font-family: Nunito;
  src: url("./Nunito-Regular.53a5ca69.ttf");
}
.genreName {
  font-size: 1rem;
  text-shadow: 0px 0px 3px black;
  text-align: center;
  font-family: Nunito;
}
.genreCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageCont {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  aspect-ratio: 1 / 1;
  min-height: 165px;
  min-width: 165px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Nunito;
  transition: all 0.3s ease-in-out;
}
.imageCont:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.476));
}
.genreCardCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  flex-grow: 1;
  overflow-y: scroll;
  height: 70vh;
  margin-bottom: 1rem;
}

.playlistView {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 10vh;
}
.trackCont {
  height: 70vh;
  overflow-y: scroll;
}
.songCont {
  display: flex;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 8.5%));
}
.songCont:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 18%), hsl(0, 0%, 15%));
  backdrop-filter: blur(2px);
}
.songImgCont {
  width: 3.5em;
  height: 2.8em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1rem;
}
.songName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.songName img {
  min-width: 20px;
  min-height: 20px;
}
.likeLogo:hover {
  filter: drop-shadow(0px 0px 3px green);
}
.trackPlayer {
  margin: 0px;
  position: fixed;
  bottom: 0px;
  width: 70%;
}
.playerCont {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: rgba(80, 80, 80, 0.284);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.audioCont {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.addBtn {
  margin-left: 1rem;
  background-color: transparent;
}
.addBtn:hover {
  background-color: transparent;
  filter: drop-shadow(0px 0px 2px rgb(206, 206, 206));
}
.addImg {
  height: 40px;
  width: 40px;
}
.caption {
  margin-bottom: 5px;
}
.dropDown {
  background-color: rgba(80, 80, 80, 0.284);
  backdrop-filter: blur(5px);
  margin: 0px;
  width: 25%;
  margin-left: 60%;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  right: 0px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.dropDownItems {
  text-decoration: none;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
.dropDownItems:hover {
  transform: scale(1.2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.579);
  cursor: pointer;
}
.duration {
  font-weight: lighter;
  color: rgba(124, 124, 124, 0.894);
}
@media (max-width: 768px) {
  .genreCardCont {
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
  }
  .playlistView {
    margin-bottom: 5vh;
  }
  .genreCard {
    min-width: 120px;
  }
  .imageCont {
    min-width: 120px;
    min-height: 120px;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .trackPlayer {
    width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .genreCardCont {
    grid-template-columns: 1fr 1fr 1fr;
    flex-grow: 1;
  }
  .genreCard {
    min-width: 120px;
  }
  .imageCont {
    min-width: 120px;
    min-height: 120px;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .trackPlayer {
    width: 100%;
  }
}
