@import url("../../index.css");

.profilePage {
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
}
.majorCont {
  overflow-y: scroll;
  height: 75vh;
  scrollbar-color: var(--background-color);
}
.playlistView {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 20vh;
  overflow-y: scroll;
  background-color: var(--background-color);
  /* background-image: linear-gradient(to bottom,hsl(0, 0%, 12%), hsl(0, 0%, 9%)); */
}
.addSongs {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.inputArea {
  background-color: black;
}
.profileSec,
.userProfileSec {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 18%), hsl(0, 0%, 9%));
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 10px 10px 0px 0px;
}
.userProfileSec {
  flex-direction: column;
  gap: 1rem;
}
.userName {
  font-size: 6rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  height: 23vh;
  width: 100%;
}
.profileImg {
  display: flex;
  align-items: center;
}
.profileImg img:hover {
  cursor: pointer;
  filter: blur(2px);
}
.pfpImgCont {
  text-align: center;
}
.pfpImgCont:hover .pfpText {
  visibility: visible;
}
.profileImg img,
.userProfileImg img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10rem;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}
.pfpCont {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}
.pfpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pfpText {
  visibility: hidden;
}
.friendBtn img {
  height: 40px;
  width: 40px;
}
.friendBtn {
  background-color: transparent;
}
.friendBtn img:hover {
  filter: drop-shadow(0px 0px 3px white);
}
.friendBtn:hover {
  background-color: transparent;
}
.friendSection {
  width: 60vw;
  text-align: end;
}
.friendRequestSec {
  width: 60vw;
  text-align: start;
}
.upgradeBtn {
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 70px;
}
.topTrackSec,
.topAlbumSec {
  margin-bottom: 1rem;
}
.upgradeBtn:hover {
  color: var(--header);
  text-shadow: 0px 0px 3px black;
  background-color: rgba(61, 61, 61, 0.74);
}

.topAlbumSec,
.topTrackSec,
.friendSec,
.friendList,
.publicPlaylists,
.pulishedTracks {
  box-shadow: 0px 1px 1px rgba(119, 119, 119, 0.493);
}
.publicPlaylists,
.friendList {
  margin-bottom: 15px;
}
.friendRequestSec,
.friendSection {
  margin-bottom: 15px;
}
.friendRequestSec {
  margin-left: 15px;
}
.friendSection {
  margin-right: 15px;
}
.charts {
  display: flex;
  flex-direction: row;
  display: "flex";
  overflow-x: "hidden";
}
.chartCont{
  height: 50vh;
  width: 33vw;
}

@media (max-width: 768px) {
  .userName {
    font-size: 3rem;
    font-weight: bolder;
  }
  .profileImg img {
    height: 7.5rem;
    width: 7.5rem;
  }
  .upgradeBtn {
    font-size: 1rem;
  }
  .friendSection,
  .friendRequestSec {
    width: 80vw;
  }
  .charts{
    flex-direction: column;
  }
  .chartCont{
    width: 93vw;
  }
}
