@import url("../../index.css");

.profilePage {
  display: flex;
  flex-direction: column;
}
.majorCont{
    overflow-y: scroll;
    height: 75vh;
    scrollbar-color: var(--background-color);
}
.playlistView {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 20vh;
  overflow-y: scroll;
  background-color: var(--background-color);
  /* background-image: linear-gradient(to bottom,hsl(0, 0%, 12%), hsl(0, 0%, 9%)); */
}
.addSongs {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.inputArea {
  background-color: black;
}
.profileSec {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 18%), hsl(0, 0%, 9%));
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 10px 10px 0px 0px;
}
.userName {
  font-size: 6rem;
  font-weight: bolder;
}
.profileImg {
  display: flex;
  align-items: center;
}
.profileImg img:hover{
  cursor: pointer;
  filter: blur(2px);
}
.pfpImgCont{
  text-align: center;
}
.pfpImgCont:hover .pfpText{
  visibility: visible;
}
.profileImg img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10rem;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}
.pfpCont {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
.pfpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.pfpText{
  visibility: hidden;
}